body {
    background-color: #202020;
    color: white;
}

legend {
    padding: 0 16pt;
    font-size: 28pt;
}

fieldset {
    border-radius: 5pt;
}

fieldset {
    width: 90%;
    padding: 7pt 14pt;
    border: 1.5pt solid white;
    margin: 14pt auto;
}

fieldset {
    animation: fade-in-left 1s;
    animation-fill-mode: both;
}

@keyframes fade-in-left {
    from {
        transform: translateX(-8pt);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}