body{
    background-color: #202020;
    color: white;
}

legend{
    padding: 0 16pt;
    font-size: 28pt;
}

fieldset{
    border-radius: 5pt;
}

fieldset{
    width: 90%;
    padding: 7pt 14pt;
    border: 1.5pt solid white;
    margin: 14pt auto;
}